/* Body*/

body {
	background-color: #e0cb82 ;
	font-family: "Courier";
	text-align:center;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
h1.a{
	font-style: italic;
}
/*Formular*/


form {

    display: inline-block;
    margin-top: 0em;
    text-align: left;

}
form.form1{
	width: 50%;
}
input {
  width:100%;
}
input[type=text] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px #4CAF50;
  border-radius: 4px;
}

input [type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px #4CAF50;
  border-radius: 4px;
}
input[type=submit] {
    width: 100%;
    background-color: #ceaa2b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}




------------------------------------------------------------------



p {
  text-align:center;
}
h1{
  text-align:center;
  background-color:#ceaa2b;

}
img.logo{
  display:block;
  margin-right:auto;
  margin-left:auto;
}



#bara{
  text-align:center;
  background-color:#ceaa2b;

}
ul.a{
  margin-top: 0px;
  padding-left: 0px;
  background-color: #ceaa2b;
  text-align:center;
}
li{
  display:inline-block;

}
ol{
  text-align:center;
}


